<div class="widget-categories widget">
  <h4 class="widget__title">Categories</h4>
  <div class="widget__content">
    <ul class="widget__list">
      <li class="widget__item"><a class="widget__link" href="/categories/advertising/">Advertising</a></li>
      <li class="widget__item"><a class="widget__link" href="/categories/campaigns/">Campaigns</a></li>
      <li class="widget__item"><a class="widget__link" href="/categories/art/">Art</a></li>
      <li class="widget__item"><a class="widget__link" href="/categories/tv-commercials/">TV Commercials</a></li>
    </ul>
  </div>
</div>
