<!DOCTYPE html>
<html class="no-js" lang="{{ .Site.Language.Lang }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ block "title" . }}{{ if not .IsHome }}{{ .Title }} - {{ end }}{{ .Site.Title }}{{ end }}</title>
	<script>(function(d,e){d[e]=d[e].replace("no-js","js");})(document.documentElement,"className");</script>
	{{- $metaDescription := "" }}
	{{- if .IsHome }}
		{{- $metaDescription = .Site.Params.description }}
	{{- else if .Params.description }}
		{{- $metaDescription = .Params.description }}
	{{- else }}
		{{- $metaDescription = .Summary | plainify | htmlUnescape | truncate 160 }}
	{{- end }}
	<meta name="description" content="{{ $metaDescription }}">
	<link rel="canonical" href="{{ .Permalink }}">
	{{- $ogImage := .Params.cover.image | default .Site.Params.logo.image }}
	{{- with $ogImage }}
	<meta property="og:image" content="{{ . | absURL }}">
	<meta name="twitter:image" content="{{ . | absURL }}">
	{{- end }}
	{{- if .Site.Params.opengraph }}
		{{ template "_internal/opengraph.html" . }}
	{{- end }}
	{{- if .Site.Params.schema }}
		{{ template "_internal/schema.html" . }}
	{{- end }}
	{{- if and .IsPage (eq .Type "posts") }}
	{{- $schemaData := dict
		"@context" "https://schema.org"
		"@type" "Article"
		"headline" .Title
		"description" $metaDescription
		"image" (slice ($ogImage | absURL))
		"datePublished" (.Date.Format "2006-01-02T15:04:05Z07:00")
		"dateModified" (.Lastmod.Format "2006-01-02T15:04:05Z07:00")
		"author" (dict "@type" "Person" "name" "Inside That Ad")
		"publisher" (dict
			"@type" "Organization"
			"name" "Inside That Ad"
			"logo" (dict "@type" "ImageObject" "url" (.Site.Params.logo.image | absURL))
		)
		"mainEntityOfPage" (dict "@type" "WebPage" "@id" .Permalink)
	}}
	<script type="application/ld+json">{{ $schemaData | jsonify (dict "indent" "  ") | safeJS }}</script>
	{{- end }}
	{{- if .Site.Params.twitter_cards }}
		{{ template "_internal/twitter_cards.html" . }}
	{{- end }}

	{{- $googleFontsLink := .Site.Params.googleFontsLink | default "https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700" }}
	{{- if hasPrefix $googleFontsLink "https://fonts.googleapis.com/" }}
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="dns-prefetch" href="//fonts.googleapis.com">
	<link rel="dns-prefetch" href="//fonts.gstatic.com">
	<link rel="stylesheet" {{ printf `href="%s"` $googleFontsLink | safeHTMLAttr }}>
	{{- end }}

	{{ $style := resources.Get "css/style.css" | resources.ExecuteAsTemplate "css/style.css" . -}}
	<link rel="stylesheet" href="{{ $style.RelPermalink }}">
	{{ range .Site.Params.customCSS -}}
	<link rel="stylesheet" href="{{ . | relURL }}">
	{{- end }}

	{{- with .OutputFormats.Get "rss" }}
	{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
	{{- end }}

	<link rel="shortcut icon" href="{{ "favicon.ico" | relURL }}">
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4393393337555122" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
	{{- $server := "" }}
	{{- if gt (int (index (split hugo.Version ".") 1)) "120" }}
		{{ $server = hugo.IsServer }}
	{{- else }}
		{{ $server = .Site.IsServer }}
	{{- end -}}
	{{- if not $server }}
		{{ template "_internal/google_analytics.html" . }}
	{{- end }}
	{{ block "head_extra" . }}{{ end }}
</head>
<body class="body">
	<div class="container container--outer">
		{{ block "header" . }}{{ partial "header.html" . }}{{ end }}
		<div class="page-with-ads">
			{{ partial "ad-skyscraper.html" . }}
			<div class="wrapper flex">
				<div class="primary">
				{{ block "main" . }}
					{{ with .Content }}
					<div class="content main__content clearfix">
						{{ . }}
					</div>
					{{ end }}
				{{ end }}
				</div>
				{{ block "sidebar" . }}{{ partial "sidebar.html" . }}{{ end }}
			</div>
		</div>
		{{ block "footer" . }}{{ partial "footer.html" . }}{{ end }}
	</div>
<script async defer src="{{ "js/menu.js" | relURL }}"></script>
{{ range .Site.Params.customJS -}}
<script src="{{ . | relURL }}"></script>
{{- end }}
{{- partial "mathjax.html" . -}}
</body>
</html>
