<article class="post-card">
  <a href="{{ .RelPermalink }}" class="post-card__img-link">
    <img
      class="post-card__img"
      src="{{ .Params.cover.image | default "/img/default-post.jpg" }}"
      alt="{{ .Title }}"
      loading="lazy">
    <span class="post-card__bookmark" aria-hidden="true"><i class="fa-regular fa-bookmark"></i></span>
  </a>
  <div class="post-card__body">
    <div class="post-card__top-row">
      {{- with .Params.brand }}
      <p class="post-card__brand">{{ . }}</p>
      {{- end }}
      <time class="post-card__date" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan-02-2006" }}</time>
    </div>
    <h2 class="post-card__title">
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </h2>
    {{- $agency := .Params.agency | default "Unknown" }}
    {{- if findRE "(?i)super.?bowl" .Title }}
      {{- $agency = "Various Agencies" }}
    {{- end }}
    {{- if ne $agency "Unknown" }}
    <p class="post-card__agency">Agency: {{ $agency }}</p>
    {{- end }}
  </div>
</article>
